*{
    margin: 0;
    padding: 0;
    text-align: center;

}

body{
    background-color: aquamarine;
}

h1{
    height: 4rem;
    background-color: rgba(7, 168, 55, 0.804);
    color: white;
    line-height: 3.5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: rgba(241, 24, 24, 0.952);
    transform: scale(1.1);
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}

#user-score, 
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    /* margin-top: 5rem; */
    background-color: rgb(49, 22, 85);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}